<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    {{template "navbar" .Navbar}}
    <br/>
    {{template "popupOutput" .PopupOutput}}
    <div id="page" class="flex gap-6 place-content-center">
      <!-- Left Column -->
      <div class="flex flex-col items-center p-8 bg-white shadow-lg rounded-lg max-w-3xl w-2/3">
        <!-- Welcome Message -->
        <h2 class="text-3xl font-bold text-blue-400 text-center mb-6">
          Välkommen, <span class="text-gray-700">{{ .username }}</span>
        </h2>
        <br/>
        
        <!-- Additional Settings -->
        <div class="mt-6 w-full border-t border-gray-200 pt-4">
          <label class="text-gray-700 font-semibold text-xl">Settings</label>
          {{template "settings"}}
        </div>
        <!-- Form Section -->
        <form id="urls" class="w-full space-y-4">
          <label for="textarea" class="text-gray-700 font-semibold text-xl">Analyzer</label>
          <textarea 
            id="textArea"
            class="w-full h-32 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-200" 
            placeholder="Write one root URL per line"
            required
          ></textarea>
          <div class="flex justify-end">
            {{template "button" .UrlsSubmitButton}}
            <div id="messageOutput" class="text-red-500 text-sm mt-2"></div>
          </div>
        </form>

        <!-- Divider -->
        <div class="border-t border-gray-300 my-6"></div>
        
      </div>
      
      <!-- Right Column -->
      <div class="flex flex-col gap-4">

        <form id="formInputChoice" for="dropdownInputChoice" class="p-6 bg-white shadow-lg rounded-lg border border-gray-200">
          <h3 class="text-xl font-semibold text-gray-700 mb-4">Current Input File</h3>
          <select id="dropdownInputChoice" name="dropdownInputChoice" class="w-full p-3 text-gray-700 bg-gray-100 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"></select>
          <div class="mt-4">
            {{template "button" .InputChoiceSubmitButton}}
          </div>
        </form>
        <div class="flex flex-row gap-4">
          <form id="formAIChoice" for="dropdownAIChoice" class="p-6 bg-white shadow-lg rounded-lg border border-gray-200">
            <h3 class="text-xl font-semibold text-gray-700 mb-4">Current AI</h3>
            <select id="dropdownAIChoice" name="dropdownAIChoice" class="w-full p-3 text-gray-700 bg-gray-100 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
              <option value="gpt-4o-mini">gpt-4o-mini</option>
              <option value="gemini-1.5-flash">gemini-1.5-flash</option>
              <option value="gemini-1.5-pro">gemini-1.5-pro</option>
            </select>
          </form>
          <div class="p-6 bg-white shadow-lg rounded-lg border border-gray-200">
            <h3 class="text-xl font-semibold text-gray-700 mb-4">Sanitizer prompt</h3>
            <textarea
              id="sanitizerPrompt"
              class="w-full h-32 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-200" 
              placeholder="Write a prompt to sanitize the data the way you want. If you leave this empty, the data will not be sanitized."
            ></textarea>
          </div>
        </div>
        <div class="p-6 bg-white shadow-lg rounded-lg">
          <h3 class="text-xl font-semibold text-gray-700">previous input files</h3>
          <p class="text-gray-600" id="inputFilesLinks">here will be the list of input files</p>
        </div>
        
        <div class="p-6 bg-white shadow-lg rounded-lg">
          <h3 class="text-xl font-semibold text-gray-700">previous output spreadsheets</h3>
          <p class="text-gray-600" id="outputFilesLinks">here will be the list of output files</p>
        </div>

      </div>
    </div>
    <br/>
    <script src="/dashboard.js"></script>
  </body>
</html>
