<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    {{template "navbar" .Navbar}}
    <br/>
    <zero-md src="why_bluebeam.md" class="flex flex-col items-center mx-auto p-6 bg-white shadow-lg rounded-lg max-w-4xl"></zero-md>
    <br/>
  </body>
</html>
