{{define "navbar"}}
  <div class="container pr-4 mx-auto flex items-center justify-between bg-blue-400 shadow-md top-0 z-50 w-full h-32 rounded-b-lg">
    <!-- Logo on the left -->
    <a href="/" class="relative overflow-hidden">
      <img 
        src="/logo.png" 
        class="h-full w-auto object-cover"
        alt="Logo"
      >
    </a>

    <!-- Buttons on the right -->
    <div class="ml-auto flex space-x-4">
      {{template "button" .WhysButton}}
      {{template "button" .ApisButton}}
      {{if .IsLoggedIn}}
        {{template "button" .DashboardButton}}
        {{template "button" .LogoutButton}}
      {{else}}
        {{template "button" .LoginButton}}
      {{end}}
    </div>
  </div>
{{end}}

