{{define "settings"}}
    
    <!-- File Upload Form -->
    <form class="w-full space-y-4" onsubmit="sendCriterias(event)">
      <!-- Button Choices Section -->
       <div class="flex justify-between mt-4">
         <!-- Google Spreadsheet Section -->
         <div class="flex flex-col items-center">
           <span class="text-gray-600 text-sm mb-1">Choose Google Spreadsheet for simplicity<br/>or JSON for efficiency</span>
           <button 
             class="py-2 px-4 bg-blue-400 text-white font-semibold rounded-lg hover:bg-blue-500 transition" 
             onclick="initOAuth(event)" 
             id="googleSsButton">
             submit Google Spreadsheet criteria
           </button>
         </div>

         <!-- JSON Section -->
         <div class="flex flex-col items-center">
           <label for="criterias" class="w-full text-center py-2 px-4 bg-blue-50 text-blue-400 border border-blue-300 rounded-lg cursor-pointer hover:bg-blue-100 transition">
             Choose JSON criteria file
           </label>
           <input 
             type="file" 
             name="criterias" 
             id="criterias" 
             accept=".json" 
             required 
             class="hidden" 
             onchange="showFileSelected()" 
           />
           <button 
             type="submit" 
             id="submitJSON"
             class="mt-2 py-2 px-4 bg-blue-400 text-white font-semibold rounded-lg hover:bg-blue-500 transition">
             submit JSON criteria file
           </button>
           <div id="fileStatus" class="text-center text-red-500 mt-2"></div>
         </div>
       </div>
      </form>

    <!-- Email Update Form -->
    <form class="space-y-4" onsubmit="updateEmail(event)">
     <input 
       type="email" 
       id="email" 
       name="email" 
       placeholder="Enter new email" 
       required 
       class="w-full py-2 px-4 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" 
     />
     <button 
       type="submit" 
       class="w-full py-2 bg-blue-400 text-white font-semibold rounded-lg hover:bg-blue-500 transition">
       update email
     </button>
     
     <!-- Notification Message -->
     <div id="emailStatus" class="text-center text-red-500 mt-2"></div>
    </form>

    <!-- Divider -->
    <div class="border-t border-gray-300 my-6"></div>

    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
{{end}}
